mixin team()
  section#team.common-section
    .container
      header.common-section__header
        h2 Our Team
        p Donec convallis pretium erat in varius
      .team
        .team__member
          img(src="static/images/team/1.jpg" alt="Veronica Hunt")
          .team__member-info
            h3.team__member-name Veronica Hunt
            p.team__member-role CEO
            p.team__member-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia nulla vel ornare interdum.

        .team__member
          img(src="static/images/team/2.jpg" alt="Rene Thompson")
          .team__member-info
            h3.team__member-name Rene Thompson
            p.team__member-role Project Manager
            p.team__member-descr Nunc non venenatis odio. Nullam id neque et lectus suscipit mattis ac a ante. Suspendisse potenti.

        .team__member
          img(src="static/images/team/3.jpg" alt="David Lynch")
          .team__member-info
            h3.team__member-name David Lynch
            p.team__member-role Project Manager
            p.team__member-descr Nunc non venenatis odio. Nullam id neque et lectus suscipit mattis ac a ante. Suspendisse potenti. Aliquam in nulla sem.

        .team__member
          img(src="static/images/team/4.jpg" alt="Ann Hernandez")
          .team__member-info
            h3.team__member-name Ann Hernandez
            p.team__member-role Graphic Designer
            p.team__member-descr Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

        .team__member
          img(src="static/images/team/5.jpg" alt="Arlene Barnett")
          .team__member-info
            h3.team__member-name Arlene Barnett
            p.team__member-role Web Designer
            p.team__member-descr Fusce aliquet, purus id ornare porta, orci lacus suscipit nulla, vel consequat enim erat non orci.

        .team__member
          img(src="static/images/team/6.jpg" alt="Bob Harvey")
          .team__member-info
            h3.team__member-name Bob Harvey
            p.team__member-role Web Developer
            p.team__member-descr Nunc non venenatis odio. Nullam id neque et lectus suscipit mattis ac a ante. Aliquam in nulla sem.

        .team__member
          img(src="static/images/team/7.jpg" alt="Lesa Morgan")
          .team__member-info
            h3.team__member-name Lesa Morgan
            p.team__member-role Web Developer
            p.team__member-descr Nunc non venenatis odio. Nullam id neque et lectus suscipit mattis ac a ante. Aliquam in nulla sem.
